@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body {
  font-family:Plus Jakarta Sans;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://tse1.mm.bing.net/th?id=OIP.cvkhxNY0OTTYF8weDI7vkwHaFj&pid=Api&P=0&h=180');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header {
  background: linear-gradient(rgb(16, 16, 139),rgb(4, 4, 58));
  color: white;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ff6347;
}
.skills-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 3s ease-in-out;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.2em;
}

.skills-list li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.skills-list li:last-child {
  border-bottom: none;
}

.skills-list li::before {
  content: "\f00c"; /* FontAwesome checkmark */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 15px;
  font-size: 1.2em;
}
.skills-list li:hover {
  background-color: #f0f8ff;
  cursor: pointer;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @media screen and (max-width: 800px){
    nav ul li {
      margin: 0 10px;
    }
    nav ul li a {
      font-size: 18px;
    }
  }