@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body {
  font-family:Plus Jakarta Sans;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://tse1.mm.bing.net/th?id=OIP.ag_l8JOZ7_9s1by9uWkTuQHaFq&pid=Api&P=0&h=180');
  background-size: cover;
  background-position: center;
}
header {
  background: linear-gradient(rgb(16, 16, 139),rgb(4, 4, 58));
  color: white;
  padding: 20px;
  text-align: center;
}
.about {
  text-align: center;
  margin: 40px 0;
}
.about h2 {
  margin: 10px 0px;
}
.about p{
  margin: 10px 100px;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}
.flex-item {
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  width: 200px;
}
.flex-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.flex-item:hover {
  background-color: #555;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 20px;
  align-items: center;
  justify-content: center; 
}
input[type="text"], input[type="email"], textarea {
  padding: 10px;
  font-size: 16px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
}
button:hover {
  background-color: #555;
}
footer {
  background: linear-gradient(rgb(16, 16, 139),rgb(4, 4, 58));
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}